<div class="content" *ngIf="!isLoading">
  <div>
    <h1>Life is too short to not Shorten your Url</h1>
  </div>

  <mat-grid-list cols="5" rowHeight="250px">
    <mat-grid-tile [colspan]="4">
      <input
        [(ngModel)]="originalLink"
        class="search-bar"
        matInput
        placeholder="Shorten your link"
      />
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <button
        class="shorten-btn"
        mat-flat-button
        color="primary"
        (click)="createShortUrl()"
      >
        Shorten
      </button>
    </mat-grid-tile></mat-grid-list
  >

  <div *ngIf="isSuccesful">
    <h2>Your short link is</h2>
    <br />

    <div
      [cdkCopyToClipboard]="copyToClipBoard()"
      style="
        cursor: pointer;
        font-size: 24px;
        background-color: lightblue;
        height: 36px;
        padding: 12px;
      "
    >
      <span style="padding: 6px">{{ url }}</span>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >content_copy</mat-icon
      >
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
